<div class="container bg">
  <div class="bg"></div>
    <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="container">
        <div class="row"><h4 class="title">Rate our problems</h4></div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-content">
              
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>Sno.</th>
                      <th >Problem ID</th>
                      <th>Problem Name</th>
                      <th>Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td class="pt"> <a (click)="navigate();">123</a> </td>
                      <td>Cake walk</td>
                      <td>
                        <i class="material-icons pt"  > thumb_up</i>&nbsp;&nbsp;
                        <i class="material-icons pt" > thumb_down </i>
                      </td>
                      <td> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    

  </div>
  </div>