
<div class="container-fluid bg">
    <div class="row">
      <app-header></app-header>
    </div>
   <div class="row">
    <div class="col-sm-6 right">
      <div class="left-side">
        <p>Be a better</p>
        <h3>Problem Setter</h3>
        <h2 class="dark">Set. Get. Earn.</h2>

      <div class="social-login-buttons">
       <a class="social-login-button social-login-button-fb show-popup"  style="display: inline-block;">
          <i class="fa fa-facebook"></i>
          <span>Start with Facebook</span>
       </a>
       <a class="social-login-button social-login-button-g show-popup"  style="display: inline-block;">
          <i class="fa fa-google-plus"></i>
          <span>Start with Google</span>
       </a>
      </div>
    </div>
      
     </div>
    <div class="col-sm-6">
      <div class="right-side">
          <img width="500px" height="400px" src="../../../assets/img/probsetter_full-size.gif" alt="">
      </div>
   </div>
  </div>
<!--Top ProbSetter-->
<div class="row grad">
<div class="col-md-2"></div>
<div class="col-md-10">




  
</div>








    <!--div class="col-md-3">
      <h3 class="top-probsetter"> Top ProbSetter</h3>
    </div>
    <div class="col-md-9">
   <div class="top-probsetters">
             <img width="50px" height="50px" src="https://i.annihil.us/u/prod/marvel/i/mg/a/40/58eb804676efe/landscape_xlarge.jpg" alt="">
             <h6>Name</h6>
             <h6>350</h6>
        </div>
    </div-->
  </div>
<!-- End Top ProbSetter-->
<div class= "row">
    <div class="col-md-6">
        <div class="card">
          <div class="card-content">
            <h4 class="card-title dark">Who we are</h4>
            <ul class="list"> 
            <li> We are team of innovators.</li> 
                <li>  We love to solve real life Problem.</li>
                <li>  We love to test human iq level.</li>
                <li> We love competitive Programming.</li>
                <li> We are ProbSetter.</li>
              </ul>  
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <img style= "margin-top: 6%;"src="../../../assets/img/mans(1).png" alt="">
        </div>
</div>
<div class= "row">
 <div class="col-md-6">
    <img style= "margin-top:7%;" src="../../../assets/img/probsetter11.png" alt="">

 </div>

    <div class="col-md-6">
        <div class="card">
          <div class="card-content">
            <h4 class="card-title dark">What we are offering</h4>
            <ul class="list"> 
                <li> Innovative Plateform to ProbSetter where they can showcase their skills.</li> 
                <li> Source of earning by Learning.</li>
                <li> Integrated plateform to compete with ProbSetter.</li>
                <li> Get Scores for every pieace of code.</li>
                <li> Get Goodies and certificate for your skills.</li>
              </ul>
          </div>
        </div>
      </div>

</div>
<div class= "row">
    <div class="col-md-6">
        <div class="card">
          <div class="card-content">
            <h4 class="card-title dark">Companies that have worked with us</h4>

          </div>
        </div>
      </div>
</div>
<div class= "row">
<div class="col-md-6"> 
    <!-- Flickity HTML init >
<div class="gallery js-flickity">
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div-->
  
               
  
</div>

</div>

  <div class="card feedback">
 <div class="row">
  <div class="col-md-6 left-content dark">
    <h3>Don't be just another brick in a wall. Get noticed for your innovative work across the globe.</h3>
  </div>
  <div class="col-md-6 right-content dark">
    <div class="testimonial">
       <div class="testimonial-pic ">
         <img src="../../../assets/img/avatar.jpg" alt="">
       </div>
     <div class="testimonial-content-container">
       <p class="dark testimonial-content border-1">ProbSetter has been a great place to find competitions that interest me.  It's great to have somewhere to practice these skills that companies are looking for.</p>
     </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-pic ">
          <img src="../../../assets/img/avatar.jpg" alt="">
        </div>
      <div class="testimonial-content-container">
        <p class="dark testimonial-content border-2">I did not want to be just another engineer. I wanted to be extraordinary. I find it empowering to be able to bring change with code. Following my passion for building, to breathe life into ideas, I found both thrill and solace in hackathons. HackerEarth has been provide place for Problem setting. Challenging problems to work on, meeting new people, travelling to places and the coveted prizes - I have loved my journey with ProbSetter and have several fond memories; looking forward to many more. :)</p>
      </div>
     </div>    <div class="testimonial">
        <div class="testimonial-pic ">
          <img src="../../../assets/img/avatar.jpg" alt="">
        </div>
      <div class="testimonial-content-container">
        <p class="dark testimonial-content border-3">ProbSetter has become my go-to platform for discovering amazing hackathons Problems. The hackathons Problems I find on ProbSetter give meaningful industry problems to hackers faced by the companies. ProbSetter does a great job at organizing these hackathons from easy to use web site to on ground resources which let me focus on Problem Settings and provide an opportunity unlike any other to network and learn. </p>
      </div>
     </div>


  </div>


</div>
</div>
</div>
<app-footer></app-footer>