<header>
  <div class="left">
    <h5 routerLink="/"><img src="../../../assets/img/logo.png" alt=""></h5>
  </div>
  <div class="right">
    <!--a routerLink="/dashboard" routerLinkActive="router-active"><i class="material-icons">dashboard</i><p>DASHBOARD</p></a-->
    <a routerLink="/forBussiness" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><p> For Bussiness</p></a>
   
 
    <div class="dropdown">
        <button class="dropbtn">For ProbSetters</button>
        <div class="dropdown-content">
            <a routerLink="/login" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><p> ProbSetter LOGIN</p></a>
            <a routerLink="/register" routerLinkActive="router-active"><p>REGISTER</p></a>
        </div>
      </div>

      <a routerLink="/qrating" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><p> Question Rating</p></a>
    <!--a routerLink="/login" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><i class="material-icons">fingerprint</i><p> ProbSetter LOGIN</p></a>
    <a routerLink="/register" routerLinkActive="router-active"><i class="material-icons">person_add</i><p>REGISTER</p></a>
    <a routerLink="/lock" style="margin-right: 0" routerLinkActive="router-active"><i class="material-icons">lock_open</i><p>LOCK</p></a-->
  
  </div>
</header>
