<div class="container bg">
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row register-panel">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <h2>Register</h2>
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #e91e63;">timeline</i>
                </div>
                <div class="desc">
                  <h4>Source of earning by Learning</h4>
                  <p>ProbSetter gives you oppertunity by which you can submit your problem and get money for that.</p>
                </div>
              </div>
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #9c27b0;">code</i>
                </div>
                <div class="desc">
                  <h4>Integrated plateform to compete with ProbSetter</h4>
                  <p>ProbSetter provide a set of tools in which you can set problem and get money.</p>
                </div>
              </div>
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #00bcd4;">group</i>
                </div>
                <div class="desc">
                  <h4>Built Audience</h4>
                  <p>Showcase your skills and get rating on every activity.</p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-part">
                <div class="socials">
                  <a mat-mini-fab style="background-color: #55acee;"><i class="fa fa-twitter"></i></a>
                  <a mat-mini-fab style="background-color: #d34836; margin: 0 5px;"><i class="fa fa-google-plus"></i></a>
                  <a mat-mini-fab style="background-color: #3b5998;"><i class="fa fa-facebook"></i></a>
                </div>
                <h6 style="margin-bottom: 30px">or be classical</h6>
                <div class="row">
                  <i class="material-icons">face</i>
                  <mat-input-container color="accent">
                    <input type="text" matInput placeholder="User Name">
                  </mat-input-container>
                </div>
                <div class="row">
                  <i class="material-icons">email</i>
                  <mat-input-container color="accent">
                    <input type="text" matInput placeholder="Email">
                  </mat-input-container>
                </div>
                <div class="row">
                  <i class="material-icons">lock_outline</i>
                  <mat-input-container color="accent">
                    <input type="text" matInput placeholder="Password">
                  </mat-input-container>
                </div>
                <div class="row">
                  <mat-checkbox style="margin-left: 2px"><p style="margin-left: 8px">I agree to the <span style="color: #1960c1; cursor: pointer; font-weight: 400;">terms and conditions</span>.</p></mat-checkbox>
                </div>
                <div class="row" style="display: flex; justify-content: center">
                  <button mat-raised-button class="btn btn-reg btn-round">GET STARTED</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
