<div class="container-fluid bg">
  <div class="row">
    <app-header></app-header>
  </div>
    <div class="container">
      <div class="row" style="margin-top:40px;">
       <div class="col-md-4">
          <img src="../../../assets/img/hand_SAKING.png" alt="">
       </div>
       <div class="col-md-8" style="margin-top:15px;">
          <div class="row">
              <div class="col-md-7  col-md-offset-4 col-sm-offset-4">
                <div class="card" [class.visible]="hide">
                  <div class="card-header">
                     <h4>Bussiness Login</h4>
                    <div class="social-btns">
                      <button mat-icon-button><i class="fa fa-facebook-square"></i></button>
                      <button mat-icon-button><i class="fa fa-twitter"></i></button>
                      <button mat-icon-button><i class="fa fa-google-plus"></i></button>
                    </div>
                  </div>
                  <p class="tip">Or Be Classical</p>
                  <div class="card-form">
                    <div class="form-row">
                      <i class="material-icons">email</i>
                      <mat-input-container color="accent">
                        <input type="text" matInput placeholder="Email address"  [(ngModel)]="UserName"/>
                      </mat-input-container>
                    </div>
                    <div class="form-row">
                      <i class="material-icons">lock_outline</i>
                      <mat-input-container color="accent">
                        <input type="password" matInput placeholder="Password"  [(ngModel)]="Password"/>
                      </mat-input-container>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button mat-button (click)="loginBtn()">LET'S GO</button><br>
                    <button mat-button (click)="openDialog()">register with us</button>
                    <button mat-button (click)="openDialog1()">Forget password</button>
                  </div>
                </div>
              </div>
            </div>
       </div>
      </div>

<div class="row">
      <div class="row page-title">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-md-4 page-title">
                <div class="card card-raised">
                  <h6>Individual</h6>
                  <div class="icon">
                    <i class="material-icons">person</i>
                  </div>
                  <h3 class="card-title">Free</h3>
                      <ul class="list"> 
                          <li> 5 Problems.</li> 
                          <li> 2 Implemetation, 2 Data Structure, 1 Optimization.</li>
                      </ul>
                  <button routerLink="/login" routerLinkActive="router-active"  mat-raised-button class="btn btn-rose btn-round">CHOOSE PLAN</button>
                </div>
              </div>
              <div class="col-md-4 page-title">
                <div class="card card-raised">
                  <h6>College mini event </h6>
                  <div class="icon">
                    <i class="material-icons">weekend</i>
                  </div>
                  <h3 class="card-title">$29</h3>
                  <ul class="list"> 
                      <li> 4 Problems.</li> 
                      <li> 2 Implemetation, 2 Data Structure.</li>
                  </ul>
                  <button mat-raised-button class="btn btn-rose btn-round">CHOOSE PLAN</button>
                </div>
              </div>
              <div class="col-md-4 page-title">
                <div class="card card-raised">
                  <h6>College CSI events</h6>
                  <div class="icon">
                    <i class="material-icons">home</i>
                  </div>
                  <h3 class="card-title">$79</h3>
                  <ul class="list"> 
                      <li> 5 Problems.</li> 
                      <li> 2 Implemetation,3 Data Structure.</li>
                  </ul>
                  <button mat-raised-button class="btn btn-rose btn-round">CHOOSE PLAN</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row page-title">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-md-4 page-title">
                  <div class="card card-raised">
                    <h6>Hiring</h6>
                    <div class="icon">
                      <i class="material-icons">person</i>
                    </div>
                    <h3 class="card-title">$100 </h3>
                    <ul class="list"> 
                        <li> 5 Problems.</li> 
                        <li> 2 Implemetation, 2 DP, 1 Optimization.</li>
                    </ul>
                    <button mat-raised-button class="btn btn-rose btn-round">CHOOSE PLAN</button>
                  </div>
                </div>
                <div class="col-md-4 page-title">
                  <div class="card card-raised">
                    <h6>Hackathon</h6>
                    <div class="icon">
                      <i class="material-icons">weekend</i>
                    </div>
                    <h3 class="card-title">$150</h3>
                    <ul class="list"> 
                        <li> 10 Problems.</li> 
                        <li> 2 Implemetation, 3 DS, 2 Graph, 3 DP.</li>
                    </ul>
                    <button mat-raised-button class="btn btn-rose btn-round">CHOOSE PLAN</button>
                  </div>
                </div>
                <div class="col-md-4 page-title">
                  <div class="card card-raised">
                    <h6>ACM ICPC</h6>
                    <div class="icon">
                      <i class="material-icons">home</i>
                    </div>
                    <h3 class="card-title">$200</h3>
                    <ul class="list"> 
                        <li> 7 Problems.</li> 
                        <li> 2 Implemetation, 1 DS, 2 DP, 2 Graaph.</li>
                    </ul>
                    <button mat-raised-button class="btn btn-rose btn-round">CHOOSE PLAN</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 50px">
          <div class="col-md-6">
              <div class="card">
                <div class="card-content">
                  <h4 class="card-title dark">Why Should you choose us</h4>
                  <ul class="list"> 
                      <li> Innovative Plateform to ProbSetter where they can showcase their skills.</li> 
                      <li> Source of earning by Learning.</li>
                      <li> Integrated plateform to compete with ProbSetter.</li>
                      <li> Get Scores for every pieace of code.</li>
                      <li> Get Goodies and certificate for your skills.</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img width="568" height="200" src="../../../assets/img/choose us1.png" alt="">
            </div>
          </div>
  </div>
  <div class="row" style="margin:20px 0px 0px0px;">
</div>
<app-footer></app-footer></div>