<div class="nav-bar">
  <div class="left-part">
    <h4>{{ title }}</h4>
    <button mat-button routerLink="/qrating" routerLinkActive="router-active">Problem Rating</button>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <mat-input-container color="#ff0000">
        <input matInput type="search" placeholder="Search">
      </mat-input-container>
      <button mat-mini-fab class="search-btn"><i class="material-icons" style="font-size:18px;">search</i></button>
      <button mat-icon-button routerLink="/dashboard"><i class="material-icons icon-btn">dashboard</i></button>
      <app-msgiconbtn icon="notifications" number="5" [matMenuTriggerFor]="menu"></app-msgiconbtn>
      <button mat-icon-button routerLink="/dashboard/profile"><i class="material-icons icon-btn">person</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Mike John responded to your email</button>
        <button mat-menu-item>You have 5 new tasks</button>
        <button mat-menu-item>You're now friend with Andrew</button>
        <button mat-menu-item>Another Notification</button>
        <button mat-menu-item>Another One</button>
      </mat-menu>
      <button mat-icon-button (click)="logout()"><i class="material-icons">exit_to_app</i></button>
    </div>
    <div id="menu">
      <button mat-icon-button (click)="menuClick()"><i class="material-icons">menu</i></button>

    </div>
  </div>
</div>
