<div class="container">
  <app-navbar title="Add Problem"></app-navbar>
  <div class="row" style="margin-top: 30px">
<div class="col-sm-8" >

  <form>
    <div class="form-group">
      <h4><b>Problem Name</b></h4>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Problem Name">
    </div>
    <div class="form-group">
      <h4><b>Problem Statement</b></h4>
    <ckeditor
      [(ngModel)]="ckeditorContent"
      [config]="{'uiColor': '#CCEAEE'}"
      [readonly]="false"
      (change)="onChange($event)"
      (editorChange)="onEditorChange($event)" 
      (ready)="onReady($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      (contentDom)="onContentDom($event)"
      (fileUploadRequest)="onFileUploadRequest($event)"
      debounce="500">
    </ckeditor>
 
    </div>
    <div class="form-group">
      <h4 style="margin-bottom: 5px;"><b>Diificulty Level</b></h4><br>
      <div id="mainselection">
      <select>
        <option selected="selected" disabled>Select Option</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select></div>
    </div>
    <div class="form-group">
      <h4><b>Input/Output File</b></h4>
      <table>
        <thead>
        <tr>
           <th width="40%">Input</th><th width="40%">Output</th><th width="20%"></th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td width="40%"> dbgnf</td>
              <td width="40%"> dbgnf</td>
              <td width="20%"><button>add</button></td>
            </tr>
      </tbody>

        <tfoot>
            <tr>
              <td width="40%"><div class="form-group">
                  <h4 for="inFile">Input</h4>
                  <input type="file" id="inFile"></div></td>
              <td width="40%"><div class="form-group">
                  <h4 for="outFile">Output</h4>
                  <input type="file" id="outFile">
              </div></td>
              <td width="20%"><button>add</button></td>
            </tr>
          </tfoot>
      </table>
      <h4>Editorial</h4>
      <ckeditor>    </ckeditor>
      <h4> <b>Solution</b> </h4>
      <div id="mainselection">
      <select>
        <option selected="selected" disabled>Select Language</option>
        <option value="c">C</option>
        <option value="cpp">CPP</option>
        <option value="python">PYTHON</option>
        <option value="java">JAVA</option>
      </select></div>
      <ckeditor [config]="config">    </ckeditor>
    </div>





    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  
  
</div>
<div class="col-sm-4">
hii
</div>


  </div>
</div>
