<div class="container">
  <app-navbar title="Add Problem"></app-navbar>
  <div class="row" style="margin-top: 30px">
<div class="col-sm-8" >

  <form [formGroup]='addProblem'>
    <div class="form-group">
      <h4><b>Problem Name</b></h4>

      <mat-input-container>
      <input matInput class="ip" type="text" [(ngModel)]="problemName"  formControlName='pName' placeholder="Problem Name">
      </mat-input-container>
      <div *ngIf="addProblem.controls['pName'].touched && !addProblem.controls['pName'].valid">  
        <span *ngIf="addProblem.controls['pName'].hasError('required') ">  
          <div class="alert alert-warning">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><i class="material-icons">close</i></button>
            <span>Name Required</span>
          </div>
        </span>  
    </div>  

    </div>
    <div class="form-group">
      <h4><b>Problem Statement</b></h4>
    <ckeditor   formControlName='pStatement'  debounce="500"> </ckeditor>
    <div *ngIf="addProblem.controls['pStatement'].touched && !addProblem.controls['pStatement'].valid">  
      <span *ngIf="addProblem.controls['pStatement'].hasError('required') ">  
        <div class="alert alert-warning">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close"><i class="material-icons">close</i></button>
          <span>Problem Statement Required</span>
        </div>
      </span>  
  </div>  
    </div>
    <mat-form-field>
      <mat-select placeholder="Difficulty Level">
        <mat-option *ngFor="let level of Levels" [value]="level.value">
          {{ level.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-group">
      <h4><b>Input/Output File</b></h4>
      <table>
        <thead>
        <tr>
           <th width="40%">Input</th><th width="40%">Output</th><th width="20%"></th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td width="40%"> dbgnf</td>
              <td width="40%"> dbgnf</td>
              <td width="20%"><button>add</button></td>
            </tr>
      </tbody>

        <tfoot>
            <tr>
              <td width="40%"><div class="form-group">
                  <h4 for="inFile">Input</h4>
                  <input type="file" id="inFile"></div></td>
              <td width="40%"><div class="form-group">
                  <h4 for="outFile">Output</h4>
                  <input type="file" id="outFile">
              </div></td>
              <td width="20%"><button>add</button></td>
            </tr>
          </tfoot>
      </table>
      <h4>Editorial</h4>
      <ckeditor   formControlName='pEditorial' >    </ckeditor>
      <div *ngIf="addProblem.controls['pEditorial'].touched && !addProblem.controls['pEditorial'].valid">  
        <span *ngIf="addProblem.controls['pEditorial'].hasError('required') ">  
          <div class="alert alert-warning">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><i class="material-icons">close</i></button>
            <span>Problem Editorial Required</span>
          </div>
        </span>  
    </div> 
      <h4> <b>Solution</b> </h4>

      <mat-form-field>
        <mat-select placeholder="Select Language">
          <mat-option *ngFor="let lang of Language" [value]="lang.value">
            {{ lang.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <ckeditor   formControlName='pSolution' [config]="config">    </ckeditor>
      <div *ngIf="addProblem.controls['pSolution'].touched && !addProblem.controls['pSolution'].valid">  
        <span *ngIf="addProblem.controls['pSolution'].hasError('required') ">  
          <div class="alert alert-warning">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><i class="material-icons">close</i></button>
            <span>Problem Solution Required</span>
          </div>
        </span>  
    </div> 
    </div>
<div class="row">
    <mat-form-field class="demo-chip-list">
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New Problem type..."
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{ fruit }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
<br>



    <button type="submit" mat-button class="btn btn-success">Submit</button>
  </form>
  
  
</div>
<div class="col-sm-4">

</div>


  </div>
</div>
