.form-container {
    background:white;
    padding:3em;
    width:350px;
    position:relative;
    left:37%;
  }
  @media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:80%;
        
    }
    #fb {
        background:#3B5998;
    }

    #google {
        background: #fff;
    }

    #email {
        background: #ECECEC;
    }
    .form-container {
      background:white;
      padding:0.6em;
      width:80%;
      position:relative;
       margin-left:-30%; 

    }
}