<div class="container bg">
    <app-header></app-header>
    <div class="container">
      <div class="row">
 <div class="col-md-3 page-title">
       <div class="card card-raised">
       <h6>College CSI events</h6>
        <div class="icon">
        <i class="material-icons">home</i>
        </div>
        <h3 class="card-title">$79</h3>
         <ul class="list"> 
           <li> 5 Problems.</li> 
           <li> 2 Implemetation,3 Data Structure.</li>
         </ul>
        <button mat-raised-button class="btn btn-rose btn-round">CHOOSE PLAN</button>
      </div>
  </div>
  <div class="col-md-9 ">
    <h4 class="title"> Package Title</h4>
    <h5 class="discrip"> Description</h5>

    <button class="btt" mat-raised-button color="primary" >Buy Now</button>
</div> 

</div>
</div>
</div>